.admin_panel{
    
    background-color: darkslategray;
    display: block;
    padding: 25px;
    
    
}

.admin_panel_header{
    display: grid;    
    grid-template-columns: repeat(4, 1fr);    
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    background-color: bisque;
    padding: 25px 0;
}

.admin_panel_body{    
    display: grid;
    
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    padding: 25px 0;
}
.admin_panel_body_row{
    display: grid;    
    grid-template-columns: repeat(4, 1fr);    
    grid-column-gap: 0px;   
    grid-row-gap: 20px;
    
}
.admin_panel_body_name{
    padding: 0 10px;
}