.detail_stage{
    padding: 10px;
}
.detail_data_container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.detail_row{
    min-height: 25px;
}
.detail_row a {
    text-decoration: underline;
}